#btnPagar {
    margin-left: 200px;
  background-color: #00b3ff;
  color: #fff; /* Esto hace que el texto sea blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Evita el subrayado */
  display: inline-block;
}
#comprobanteQR h3 {
  color: #0f1c2f;
  margin-bottom: 10px;
}

#comprobanteQR p {
  font-size: 15px;
  margin: 4px 0;
}