<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Panel Anfitrión</title>
    <link rel="stylesheet" href="../../css/styles.css" />
   <link rel="stylesheet" href="../../css/footer.css" />
</head>
<body>
  <header>
    <img src="../img/logoprueba.png" alt="Logo de LuminusCreaCode" width="100" />
    <h2>Panel del Anfitrión</h2>
   <nav>
      <a href="../../view/Panelanfi/crear_alojamientos.html">Crear Alojamientos</a>
      <a href="../../view/Panelanfi/eliminar_alojamientos.html">Eliminar Alojamiento</a>
      <a href="../../view/Panelanfi/actualizar_alojamientos.html">Actualizar Alojamientos</a>
      <a href="../../view/Panelanfi/buscar_alojamientos.html">Buscar Alojamientos</a>
    </nav>
  </header>

  <main>
    <section>
      <h3>Mis Alojamientos</h3>
      <button>Agregar nuevo hotel</button>
      <ul>
        <li>Hotel Playa Coral - Editar / Eliminar</li>
      </ul>
    </section>
  </main>
</body>
<footer class="site-footer">
  <div class="footer-content">
    <p class="footer-title"><strong>O también puedes escribirnos a:</strong></p>
    <p class="footer-contact">Email: <a href="mailto:soporte@luminuscreacode.com" class="footer-link">soporte@luminuscreacode.com</a></p>
    <p class="footer-contact">Teléfono: <a href="tel:+529991410909" class="footer-link">+52 9991410909</a></p>
    <p class="footer-address">Dirección: Mérida, Yucatán, México</p>
  </div>
</footer>
</html>