<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard Hotelería</title>
  <link rel="stylesheet" href="../../css/dashboard.css" />
  <link rel="stylesheet" href="../../css/styles.css" />
   <link rel="stylesheet" href="../../css/footer.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   <header>
   <img src="../img/logoprueba.png" alt="Logo de LuminusCreaCode" width="100" />
    <h2>Panel de Administración</h2>
      <h3>Gestión del Sistema</h3>
      <nav>
      <a href="index.html">Usuarios</a>
      <a href="alojamientos.html">Hoteles</a>
      <a href="contacto.html">Reservas</a>
      <a href="registro.html">Mensajes</a>
      <a href="login.html">Iniciar Sesión</a>
      <a href="crud_usuarios.html">Crud Usuarios</a>
    </nav>
  </header>
  <h1>Dashboard Hotelería</h1>

  <section>
  <h2>1. Cancelaciones por Mes, Tipo de Alojamiento y Método de Pago</h2>
  <canvas id="cancelacionesChart"></canvas>
</section>


  <section>
    <h2>2. Crecimiento de Reservas por Zona</h2>
    <canvas id="zonasChart"></canvas>
  </section>

  <section>
    <h2>3. Usuarios que Más Recomiendan</h2>
    <canvas id="recomiendanChart"></canvas>
  </section>

  <section>
    <h2>4. Satisfacción por Día y Servicio</h2>
    <canvas id="satisfaccionChart"></canvas>
  </section>

  <section>
    <h2>5. Perfiles con Reservas Caras y Muchos Servicios</h2>
    <canvas id="perfilesChart"></canvas>
  </section>

<script src="../../js/dashboard.js"></script>
<footer class="site-footer">
  <div class="footer-content">
    <p class="footer-title"><strong>O también puedes escribirnos a:</strong></p>
    <p class="footer-contact">Email: <a href="mailto:soporte@luminuscreacode.com" class="footer-link">soporte@luminuscreacode.com</a></p>
    <p class="footer-contact">Teléfono: <a href="tel:+529991410909" class="footer-link">+52 9991410909</a></p>
    <p class="footer-address">Dirección: Mérida, Yucatán, México</p>
  </div>
</footer>
</body>
</html>

